{
   "apiVersion":"V2",
   "name":"all",
   "namespace":"${SERVICEPATH}/pools",
   "count":${PUBLICNODES},
   "autoCertificate":true,
   "haproxy":{
      "stats":{
         "bindPort":9090
      },
      "frontends":[
         {
            "bindPort":8443,
            "protocol":"HTTPS",
            "certificates":[
               "\$AUTOCERT"
            ],
            "linkBackend":{
               "map":[
                  {
                     "hostEq":"${APPNAME}.prod.k8s.cluster1.mesos.lab",
                     "backend":"${APPNAME}-prod-k8s-cluster1-backend"
                  },
                  {
                     "hostEq":"${APPNAME}.prod.k8s.cluster2.mesos.lab",
                     "backend":"${APPNAME}-prod-k8s-cluster2-backend"
                  },
                  {
                     "hostReg":"${APPNAME}.prod.dataservices.nifi.mesos.lab",
                     "backend":"${APPNAME}-prod-dataservices-nifi"
                  },
                  {
                     "hostReg":"${APPNAME}.prod.dataservices.kibana.mesos.lab",
                     "backend":"${APPNAME}-prod-dataservices-kibana"
                  },
                  {
                     "hostReg":"${APPNAME}.prod.datascience.jupyterlab.mesos.lab",
                     "backend":"${APPNAME}-prod-datascience-jupyterlab"
                  },
                  {
                     "hostReg":"${APPNAME}.dev.gitlab.mesos.lab",
                     "backend":"${APPNAME}-dev-gitlab"
                  },
                  {
                     "hostReg":"${APPNAME}.dev.jenkins.mesos.lab",
                     "backend":"${APPNAME}-dev-jenkins"
                  },

                  {
                     "hostReg":"infra.storage.portworx.mesos.lab",
                     "backend":"infra-storage-portworx"
                  }
               ]
            }
         },
         {
            "bindPort":9042,
            "protocol":"TCP",
            "linkBackend":{
               "defaultBackend":"${APPNAME}-prod-dataservices-cassandra"
            }
         },
         {
            "bindPort":9092,
            "protocol":"TCP",
            "linkBackend":{
               "defaultBackend":"${APPNAME}-prod-dataservices-kafka"
            }
         },
         {
            "bindPort":9200,
            "protocol":"TCP",
            "linkBackend":{
               "defaultBackend":"${APPNAME}-prod-dataservices-elastic"
            }
         }
      ],
      "backends":[
         {
            "name":"${APPNAME}-prod-k8s-cluster1-backend",
            "protocol":"HTTPS",
            "services":[
               {
                  "mesos":{
                     "frameworkName":"${APPNAME}/prod/k8s/cluster1",
                     "taskNamePattern":"kube-control-plane"
                  },
                  "endpoint":{
                     "portName":"apiserver"
                  }
               }
            ]
         },
         {
            "name":"${APPNAME}-prod-k8s-cluster2-backend",
            "protocol":"HTTPS",
            "services":[
               {
                  "mesos":{
                     "frameworkName":"${APPNAME}/prod/k8s/cluster2",
                     "taskNamePattern":"kube-control-plane"
                  },
                  "endpoint":{
                     "portName":"apiserver"
                  }
               }
            ]
         },
         {
            "name":"${APPNAME}-prod-dataservices-nifi",
            "protocol":"HTTPS",
            "rewriteHttp":{
               "host":"nifi-0-node.${APPNAME}proddataservicesnifi.autoip.dcos.thisdcos.directory",
               "path":{
                  "fromPath":"/nifi",
                  "toPath":"/nifi"
               },
               "request":{
                  "forwardfor":true,
                  "xForwardedPort":true,
                  "xForwardedProtoHttpsIfTls":true,
                  "setHostHeader":false,
                  "rewritePath":true
               }
            },
            "services":[
               {
                  "endpoint":{
                     "type":"ADDRESS",
                     "address":"nifi-1-node.${APPNAME}proddataservicesnifi.autoip.dcos.thisdcos.directory",
                     "port":1025
                  }
               }
            ]
         },
         {
            "name":"${APPNAME}-prod-dataservices-kibana",
            "protocol":"HTTP",
            "miscStrs":[
               "reqrep ^(.*?)service.${APPNAME}.prod.dataservices.kibana.(.*)     \\\\1\\\\2"
            ],
            "services":[
               {
                  "endpoint":{
                     "type":"ADDRESS",
                     "address":"web.${APPNAME}proddataserviceskibana.marathon.l4lb.thisdcos.directory",
                     "port":80
                  }
               }
            ]
         },
         {
            "name":"${APPNAME}-prod-datascience-jupyterlab",
            "protocol":"HTTP",
            "services":[
               {
                  "endpoint":{
                     "type":"ADDRESS",
                     "address":"${APPNAME}proddatasciencejupyterlab.marathon.l4lb.thisdcos.directory",
                     "port":8888
                  }
               }
            ]
         },
         {
            "name":"${APPNAME}-dev-gitlab",
            "protocol":"HTTP",
            "services":[
               {
                  "endpoint":{
                     "type":"ADDRESS",
                     "address":"${APPNAME}devgitlab.marathon.l4lb.thisdcos.directory",
                     "port":80
                  }
               }
            ]
         },
         {
            "name":"${APPNAME}-dev-jenkins",
            "protocol":"HTTP",
            "services":[
               {
                  "marathon":{
                     "serviceID":"/${APPNAME}/dev/jenkins"
                  },
                  "endpoint":{
                     "portName":"nginx"
                  }
               }
            ]
         },
         {
            "name":"infra-storage-portworx",
            "protocol":"HTTP",
            "services":[
               {
                  "endpoint":{
                     "type":"ADDRESS",
                     "address":"lighthouse-0-start.infrastorageportworx.autoip.dcos.thisdcos.directory",
                     "port":8085
                  }
               }
            ]
         },
         {
            "name":"${APPNAME}-prod-dataservices-cassandra",
            "protocol":"TCP",
            "services":[
               {
                  "mesos":{
                     "frameworkName":"${APPNAME}/prod/dataservices/cassandra",
                     "taskNamePattern":"^node-.*$"
                  },
                  "endpoint":{
                     "portName":"native-client"
                  }
               }
            ]
         },
         {
            "name":"${APPNAME}-prod-dataservices-kafka",
            "protocol":"TCP",
            "services":[
               {
                  "mesos":{
                     "frameworkName":"${APPNAME}/prod/dataservices/kafka",
                     "taskNamePattern":"^broker-.*$"
                  },
                  "endpoint":{
                     "portName":"broker"
                  }
               }
            ]
         },
         {
            "name":"${APPNAME}-prod-dataservices-elastic",
            "protocol":"TCP",
            "services":[
               {
                  "mesos":{
                     "frameworkName":"${APPNAME}/prod/dataservices/elastic",
                     "taskNamePattern":"^data-.*$"
                  },
                  "endpoint":{
                     "portName":"data-http"
                  }
               }
            ]
         }
      ]
   }
}
