{
  "service": {
    "name": "${SERVICEPATH}",
    "service_account": "${SERVICEACCOUNT}",
    "service_account_secret": "/${SERVICEPATH}/private-${SERVICEACCOUNT}"
  },
  "prometheus": {
    "mem": 4096
  },
  "pushgateway": {
    "enabled": true
  }
}
