{
  "security": {
    "secret-name": "/${SERVICEPATH}/private-${SERVICEACCOUNT}",
    "strict-mode": true
  },
  "service": {
    "name": "${SERVICEPATH}",
    "user": "root"
  },
  "roles": {
    "jenkins-master-role": "${APPNAME}",
    "jenkins-agent-role": "${APPNAME}"
  }
}
