{
  "service": {
    "name": "${SERVICEPATH}",
    "service_account": "${SERVICEACCOUNT}",
    "service_account_secret": "/${SERVICEPATH}/private-${SERVICEACCOUNT}",
    "virtual_network_enabled": true,
    "virtual_network_name": "dcos",
    "UCR_containerizer": true
  },
  "hdfs": {
    "config-url": "http://api.${HDFSHOSTNAME}.marathon.l4lb.thisdcos.directory/v1/endpoints"
  }
}
